<?xml version="1.0"?>
<model>
  <name>uav0_frame</name>
  <version>1.0</version>
  <sdf version='1.9'>model.sdf</sdf>
  <description>
    Airframe layer of the uav0 model family. Currently inherits the PX4 x500
    reference airframe; this is the single file to change when the hardware
    team delivers CAD-derived mass, inertia and rotor constants.
  </description>
</model>
